/* 
  button {
    color: #d4d4d4;
    background-color: #333;
    border: none;
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #454545;
  } */
  
:root {
  --button-background-color: #929292;
  --button-hover-color: #bcbcbc;
  --button-text-color: white;
  --dark-background: #2b2b2b;
}
  
/* Style for the top panel */
.top-panel {
    width: 100%;
    /* background-color: #edecec; */
    color: var(--button-text-color);
    text-align: left;
    height: 5vh;
    overflow: hidden;
    margin: 5px 0px 0px;
} 


    /* Style for the buttons */
.top-panel button {

     /* background-color: #edecec; */
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    text-align: left;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.top-panel button:hover {
    background-color: var(--button-hover-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    

  .dropdown-menu {
    position: fixed; /* Changed to fixed to be positioned relative to the viewport */
    background-color:  var(--button-background-color); 
    border: 1px solid #3c3c3c;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 200px;
    z-index: 10;
  }
  
  .menu-item {
    background-color: var(--button-background-color);
    position: relative;
    color: var(--button-text-color);
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    padding: 5px 10px;
    flex-direction: column;
  }
  
  .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--button-background-color);
    width: 180px;
    z-index: 20;
    color: var(--button-text-color);
    flex-direction: column;
  }

  .submenu button {
    color: var(--button-text-color);
    display: block;
    background-color: var(--button-background-color);
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    padding: 5px 10px;
  }
  
  
  .menu-item:hover  {
    display: flex; 
    background-color: var(--button-hover-color);

  }

  .menu-item:hover .submenu{
    display: flex; 
    background-color: var(--button-hover-color);
  }

  .menu-item:hover .submenu-item {
    display:flex;
  }

  .menu-item:hover .submenu-item:hover .subsubmenu {
    display: flex; 
    background-color: var(--button-hover-color);
  }
  

  .subsubmenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--button-background-color);
    /* width: 180px; */
    z-index: 20;
    color: var(--button-text-color);
    flex-direction: column;
  }
  
  .subsubmenu button {
    color: var(--button-text-color);
    display: block;
    background-color: var(--button-background-color);
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    padding: 5px 10px;
  }

  .submenu-item {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 80px;
    /* z-index: 20; */
    color: var(--button-text-color);
    flex-direction: column;
    /* width: 180px; */
    /* bottom: 0px; */
    background-color: var(--button-background-color);
    z-index: 25;
    flex-direction: column;
  }

  .submenu-item button{
    width: 100%;
  }
  
  .parentprogress {
    display: inline-flex; /* Inline-flex for the progress bar and its label */
}
    
  #progressContainer {
    position: relative;
    width: 30vw;  /* Define a specific width for the container */
    height: 30px; /* Set a specific height to allow vertical centering */
    display: flex; /* Use flexbox to center children */
    align-items: center; /* Center children vertically */
    justify-content: center; /* Center children horizontally */
}

#taskProgress {
    width: 100%; /* Make progress bar fill container */
    position: absolute; /* Position it absolute to allow the text to overlay */
    z-index: 1; /* Ensure it is behind the text */
}

#progressText {
    position: relative; /* Ensure the text is positioned relative to the flex container */
    z-index: 2; /* Place the text above the progress bar */
    font-size: smaller;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 1s linear infinite;
}


/* App.css or a similar CSS file */

.exit-survey-overlay {
  max-height: 100vh;
  /* display: none; */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(224, 221, 221);
  background-color: var(--dark-background);
  padding: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  overflow-y: auto;
}

.exit-survey-popup {
  max-height: 100vh;
  background-color: var(--dark-background);
  width: 100vw;
  margin: 10px auto;
  padding: 20px;
  text-align: left;
}




