  .modal-content h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
  } */

  .modal-content {
    background: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
    margin-bottom: 0;
    border-bottom: 2px solid #007bff;
    border-radius: 0;
  }
  
  .tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(226, 226, 226);
    color: black;
    border-radius: 8px 8px 0 0;
    transition: background-color 0.3s ease;
    margin-right: 5px;
    border: 2px solid rgba(156, 156, 156, 0.725);
    border-bottom: none;
  }

  .tab:last-child {
    margin-right: 0;
  }

  .tab.active {
    background-color: #007bff;
    border: 2px solid #007bff;
    color: white;
  }
  
  textarea.modal-textarea {
    width: 100%;
    height: 200px; 
    padding: 5px; 
    margin-top: 0px;
    margin-bottom: 5px;
    border: 2px solid #007bff;
    border-top: none;
    border-radius: 0 0 8px 8px;
    outline: none;
    resize: none;
    box-sizing: border-box;
  }

  .modal-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-buttons button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* .modal-buttons button:first-child {
    background-color: gray;
    color: white;
  }
  
  .modal-buttons button:last-child {
    background-color: #007bff;
    color: white;
  } */
  